<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>


<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/orders">Orders</a>
          </li>

          <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>

          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
          </li>

      </div>
    </div>
  </nav>

</div>

<div th:fragment="footer">
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 by Company
    </div>
  </footer>
</div>



</body>
</html>