<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Vuelo</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>
<div class="container text-center">
    <div class="row">

        <h1 class="h1-title">Detalle vuelo</h1>
        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/flights}">Volver</a>
            </div>

            <div class="card" th:if="${error} == null">
                <div class="card-body">
                    <h5 class="card-title" th:text="|Vuelo ${flight.id}|"></h5>
                    <p class="card-text" th:text="| From: ${flight.airportFrom} - ${flight.airportTo}|"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Date From: ${flight.dateTimeFrom}|"></li>

                    <li class="list-group-item" th:text="|Date To: ${flight.dateTimeTo}|"></li>

                    <li class="list-group-item" th:text="|Seats: ${flight.seats}|"></li>
                    <li class="list-group-item" th:text="|Plane: ${flight.plane}|"></li>

                </ul>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>