<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
  <div class="p-3">
    <h2>Admin Control Panel</h2>
  </div>
  <div th:if="${param.error}">
    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
  </div>

  <div th:if="${param.logout}">
    <p class="text-warning">You have been logged out.</p>
  </div>

  <div class="border border-secondary p-3 rounded">
    <p>Access to Admin Control Panel</p>
    <p>
      <input type="text" name="username" class="form-control" placeholder="username" required autofocus/>
    </p>
    <p>
      <input type="password" name="password" class="form-control" placeholder="Password" required />
    </p>
    <p>
      <input type="checkbox" name="remember-me" />&nbsp;Remember Me
    </p>
    <p>
      <input type="submit" value="Login" class="btn btn-primary" />
    </p>
  </div>
</form>
</body>
</html>