<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form th:action="@{/logout}" method="post">
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
        </p>
        <input type="submit" value="Sign Out" />
    </form>
</div>
<div>
    <h1>List of Users</h1>
</div>

<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUsers}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.email}">E-mail</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>